.navbar{
    display:flex;
    justify-content: space-between;
    padding-top: 15px;
    width: 100%;
    max-height: 70px;
    background-color: bisque;

    .navbar-left{

        .jobs-svg{
            width: 40px;
            padding-right:5px ;
            padding-bottom: 15px;
        }

        padding-left: 1rem;
        display: flex;
        justify-content: center;
    }

    .navbar-right{
        padding-right: 3rem;
    }
}